.App {
  margin: 20px;
  font-size: 14pt;
}

.btn {
  margin: 0 0 0 50px;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 12pt;
}

.btn:hover {
  background-color: lightgray;
}

.mainInput {
  margin: 0 10px;
  padding: 4px;
  font-size: 12pt;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
