.App {
  font-size: 13pt;
  font-family: "Helvetica Neue", "Calibri", "Arial", sans-serif;
  padding: 10px 30px 30px;
}

.container {
  display: flex;
  align-items: flex-start;
}

.tools {
  margin: 60px 15px 0;
}

.message {
  max-width: 750px;
  color: black;
  text-align: justify;
  padding: 10px 0;
  line-height: 150%;
}

.message-tags {
  color: dimgray;
  text-align: left;
  padding: 0;
}

.message-tags::before {
  content: "Темы: ";
  font-weight: bold;
}

.message-time {
  color: "darkviolet";
  font-weight: bold;
}

.message-text {
  margin: 1px 0;
  text-indent: 1cm;
}

.message-text:first-of-type {
  text-indent: 0;
}

.message-datetime {
  font-size: 11pt;
  color: dimgray;
}

.message-datetime::before {
  content: "Дата/время: ";
  font-weight: bold;
  color: darkgray;
}
