.sort-app {
  font-size: 10pt;
  font-family: "Helvetica Neue", "Calibri", "Arial", sans-serif;
  padding: 0 30px 30px;
}

.container {
  display: flex;
  align-items: flex-start;
}

.tools {
  margin: 60px 15px 0;
}

.message {
  max-width: 600px;
  color: black;
  text-align: justify;
  padding: 10px 0;
  line-height: 150%;
}

.message-tags {
  color: dimgray;
  text-align: left;
  padding: 0;
}

.message-tags::before {
  content: "Темы: ";
  font-weight: bold;
}

.message-time {
  color: "darkviolet";
  font-weight: bold;
}

.message-text {
  margin: 1px 0;
  text-indent: 1cm;
}

.message-text:first-of-type {
  text-indent: 0;
}

.message-datetime {
  font-size: 9pt;
  color: dimgray;
}

.message-datetime::before {
  content: "Дата/время: ";
  font-weight: bold;
  color: darkgray;
}

.sort-nav {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sort-nav button {
  margin-top: 5px;
}

.sort-nav label {
  font-size: 11pt;
  margin: 0 10px;
}

.sort-nav input {
  font-size: 12pt;
}

.sort-nav img {
  width: 25px;
}
