.App {
  padding: 15px 20px 5px 5px;
  height: 97vh;
  font-size: 13pt;
  background-color: antiquewhite;
  font-family: "Helvetica Neue", "Calibri", "Arial", sans-serif;
}

.enFieldset {
  border: none;
}

.textFieldset {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.msgTextArea {
  width: 100%;
  height: 72vh;
  font-family: "Helvetica Neue", "Calibri", "Arial", sans-serif;
  font-size: 13pt;
  line-height: 150%;
  padding: 2px 7px;
  text-align: left;
}

.upFieldset {
  display: flex;
  flex-direction: row;
}

.downFieldset {
  display: flex;
  flex-direction: row;
}

.timeBlock {
  margin-left: 50px;
}

.msgTagsInput {
  width: 100%;
  margin: 0 5px;
  font-size: 13pt;
}

.sendBtn {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 7px;
}

.sendForm {
  text-align: right;
}

.saveBtn {
  font-size: 16px;
  padding: 5px 10px;
}
